body {
    padding: 0;
}

main section {
    padding: var(--spacing-base);
}

.header > .container {
    flex-direction: column;
    margin-bottom: var(--spacing-base);
}

.header__logo {
    height: 40px;
    object-fit: contain;
    margin: calc(var(--spacing-base) * 1.5) 0;
}

.header .nav__item {
    flex-basis: 50%;
    padding: 0 0 var(--spacing-base);
}

.header .nav__item--active:before {
    top: unset;
    bottom: 0;
}

.research {
    order: 1;
}

.form__group {
    width: 100%;
    overflow-x: hidden;
}

.form__input {
    width: calc(100% + 1rem - 100px);
}

.form__submit {
    width: 50px;
    border-radius: 1rem;
    margin-left: -1rem;
}

.form__submit > span {
    display: none;
}

.form__submit > .icon {
    display: block;
    fill: var(--color-white);
}

.form__legend {
    width: 100%;
}

main > .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.lodgings {
    border-radius: unset;
    flex-basis: unset;
    order: 3;
    padding: calc(2 * var(--spacing-base)) var(--spacing-base);
}

.lodgings:not(.lodgings--most-popular) {
    background: unset;
    padding-bottom: 0;
    padding-top: 0;
}

.lodgings--most-popular {
    order: 2;
}

.lodgings__list {
    display: flex;
    flex-direction: column;
}

.lodgings:not(.lodgings--most-popular) .lodging__image {
    height: 100px;
}

.lodgings--most-popular .lodging__image {
    width: 40%;
    aspect-ratio: 1;
    border-radius: 1rem 0 0 1rem;
}

.activities {
    order: 4;
}

.activities__list {
    height: unset;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.activity__image {
    height: 150px;
}

.footer {
    background: var(--color-secondary);
}

.footer > .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}