@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --spacing-base: 1rem;
    --color-base: #262626;
    --color-white: #ffffff;
    --color-light: #5a5a5a;
    --color-primary: #0065fc;
    --color-secondary: #f2f2f2;
    --color-info: #deebff;
    --font-weight-bold: 500;
    --font-weight-bolder: 700;
    --font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    color: var(--color-base);
    font-family: var(--font-family);
}

.container {
    padding: 0 var(--spacing-base);
    margin: 0 auto;
}

b {
    font-weight: var(--font-weight-bolder);
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.header__logo {
    height: 50px;
    object-fit: contain;
    margin: var(--spacing-base) 0;
}

.header .nav {
    list-style: none;
    display: flex;
    height: 100%;

}

.header .nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    padding: 0 calc(2 * var(--spacing-base));
}

.header .nav__item--active:before {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
}

.nav__link {
    text-decoration: none;
    color: var(--color-light);
}

.nav__item--active > .nav__link {
    color: var(--color-primary);
}

main {
    margin-bottom: calc(3 * var(--spacing-base));
}

main > .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
}

.research {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.research__title {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-base);
}

.research__tagline {
    color: var(--color-light);
    margin-bottom: var(--spacing-base);
    font-size: .875rem;
}

.research__info {
    display: flex;
    align-items: flex-start;
    font-size: .875rem;
    color: var(--color-light);
}

.research__info > span {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-secondary);
    margin-right: calc(.5 * var(--spacing-base));
}

.research__info > span > .icon {
    height: .75rem;
    fill: var(--color-primary);
}

.form {
    margin-bottom: calc(2 * var(--spacing-base));
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form__group {
    display: flex;
    align-items: stretch;
    height: 50px;
}

.form__group--fieldset {
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    height: unset;
}

.form__label {
    width: 50px;
    background: var(--color-secondary);
    border-radius: 1rem 0 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__input {
    border: 1px solid var(--color-secondary);
    border-right-style: none;
    border-left-style: none;
    font-weight: var(--font-weight-bolder);
    padding: 0 var(--spacing-base);
    font-size: 1rem;
}

.form__input:focus {
    outline: none;
}

.form__submit {
    background: var(--color-primary);
    border: none;
    border-radius: 0 1rem 1rem 0;
    color : var(--color-white);
    font-weight: var(--font-weight-bolder);
    padding: 0 var(--spacing-base);
    font-size: 1rem;
}

.form__submit > .icon {
    display: none;
}

.form__legend {
    font-weight: var(--font-weight-bolder);
}

.form__check {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-secondary);
    border-radius: 25px;
    padding-right: var(--spacing-base);
    font-weight: var(--font-weight-bolder);
}

.form__check:before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-info);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: var(--spacing-base);
}

.form__check--dog:before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="%230065fc" d="M332.7 19.85C334.6 8.395 344.5 0 356.1 0C363.6 0 370.6 3.52 375.1 9.502L392 32H444.1C456.8 32 469.1 37.06 478.1 46.06L496 64H552C565.3 64 576 74.75 576 88V112C576 156.2 540.2 192 496 192H426.7L421.6 222.5L309.6 158.5L332.7 19.85zM448 64C439.2 64 432 71.16 432 80C432 88.84 439.2 96 448 96C456.8 96 464 88.84 464 80C464 71.16 456.8 64 448 64zM416 256.1V480C416 497.7 401.7 512 384 512H352C334.3 512 320 497.7 320 480V364.8C295.1 377.1 268.8 384 240 384C211.2 384 184 377.1 160 364.8V480C160 497.7 145.7 512 128 512H96C78.33 512 64 497.7 64 480V249.8C35.23 238.9 12.64 214.5 4.836 183.3L.9558 167.8C-3.331 150.6 7.094 133.2 24.24 128.1C41.38 124.7 58.76 135.1 63.05 152.2L66.93 167.8C70.49 182 83.29 191.1 97.97 191.1H303.8L416 256.1z"/></svg>');
}

.form__check--user:before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="%230065fc" d="M256 64C256 99.35 227.3 128 192 128C156.7 128 128 99.35 128 64C128 28.65 156.7 0 192 0C227.3 0 256 28.65 256 64zM155.7 170.2C167.3 173.1 179.6 176 192.2 176C232.1 176 269.3 155.8 291 122.4L309.2 94.54C318.8 79.73 338.6 75.54 353.5 85.18C368.3 94.82 372.5 114.6 362.8 129.5L344.7 157.3C326.4 185.4 301.2 207.3 272 221.6V480C272 497.7 257.7 512 240 512C222.3 512 208 497.7 208 480V384H176V480C176 497.7 161.7 512 144 512C126.3 512 112 497.7 112 480V221.4C83.63 207.4 58.94 186.1 40.87 158.1L21.37 129.8C11.57 115 15.54 95.18 30.25 85.37C44.95 75.57 64.82 79.54 74.62 94.25L94.12 123.5C108.5 145 129.2 160.9 152.9 169.3C153.9 169.5 154.8 169.8 155.7 170.2V170.2z"/></svg>');
}

.form__check--heart:before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%230065fc" d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z"/></svg>');
}

.form__check--money:before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="%230065fc" d="M48.66 79.13C128.4 100.9 208.2 80.59 288 60.25C375 38.08 462 15.9 549 48.38C565.9 54.69 576 71.62 576 89.66V399.5C576 423.4 550.4 439.2 527.3 432.9C447.6 411.1 367.8 431.4 288 451.7C200.1 473.9 113.1 496.1 26.97 463.6C10.06 457.3 0 440.4 0 422.3V112.5C0 88.59 25.61 72.83 48.66 79.13L48.66 79.13zM287.1 352C332.2 352 368 309 368 255.1C368 202.1 332.2 159.1 287.1 159.1C243.8 159.1 207.1 202.1 207.1 255.1C207.1 309 243.8 352 287.1 352zM63.1 416H127.1C127.1 380.7 99.35 352 63.1 352V416zM63.1 143.1V207.1C99.35 207.1 127.1 179.3 127.1 143.1H63.1zM512 303.1C476.7 303.1 448 332.7 448 368H512V303.1zM448 95.1C448 131.3 476.7 159.1 512 159.1V95.1H448z"/></svg>');
}

.form__check > input[type=checkbox] {
    display: none;
}

.lodgings {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 1 / 3 / 3;
    background: var(--color-secondary);
    border-radius: 1rem;
    padding: calc(2 * var(--spacing-base));
}

.lodgings--most-popular {
    grid-area: 2 / 3 / 3 / 4;
}

.lodgings__list {
    flex-grow: 1;
    margin-top: var(--spacing-base);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.lodgings--most-popular > .lodgings__list {
    display: flex;
    flex-direction: column;
}

.lodgings__title, .activities__title {
    font-weight: var(--font-weight-bolder);
    font-size: 1.25rem;
}

.lodgings__more {
    display: inline-block;
    margin-top: calc(2 * var(--spacing-base));
    color: inherit;
    text-decoration: none;
    font-weight: var(--font-weight-bolder);
}

.lodging {
    display: flex;
    flex-direction: column;
    gap: calc(.5 * var(--spacing-base));
    background: var(--color-white);
    padding: .25rem;
    border-radius: 1rem;
}

.lodgings--most-popular .lodging {
    flex-direction: row;
    flex-grow: 1;
}

.lodgings--most-popular .lodging__image {
    width: 40%;
    aspect-ratio: 1;
    border-radius: 1rem 0 0 1rem;
}

.lodging__body {
    display: flex;
    flex-direction: column;
    gap: calc(.5 * var(--spacing-base));
    padding: .5rem;
}

.lodging__title {
    font-weight: var(--font-weight-bolder);
}

.lodging__description {
    font-size: .875rem;
}

.lodging__rating {
    margin-top: auto;
}

.lodging__image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.icon {
    height: 1.25rem;
}

.icon--star-filled, .icon--star-empty {
    display: inline-block;
    width: 1.25rem;
    background-repeat: no-repeat;
}

.icon--star-filled {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="%230065fc" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"/></svg>');
}

.icon--star-empty {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="%23f2f2f2" d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"/></svg>');
}

.lodging, .activity {
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.activities {
    grid-area: 3 / 1 / 4 / 4;
}

.activities__list {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, calc(25% - (3/4) * 2rem));
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin-top: var(--spacing-base);
}

.activity {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.activity__image {
    border-radius: 1rem 1rem 0 0;
    flex-grow: 1;
    object-fit: cover;
    height: 1px;
}

.activity__title {
    font-weight: var(--font-weight-bolder);
    padding: var(--spacing-base);
}

.activity:nth-child(1) {
    grid-area: 1 / 1 / 8 / 2;
}

.activity:nth-child(2) {
    grid-area: 1 / 2 / 5 / 3;
}

.activity:nth-child(3) {
    grid-area: 5 / 2 / 8 / 3;
}

.activity:nth-child(4) {
    grid-area: 1 / 3 / 8 / 4;
}

.activity:nth-child(5) {
    grid-area: 1 / 4 / 5 / 5;
}

.activity:nth-child(6) {
    grid-area: 5 / 4 / 8 / 5;
}

.footer {
    padding: var(--spacing-base);
    background: var(--color-secondary);
}

.footer > .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
}

.footer .column {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
}

.footer .column__title {
    font-weight: var(--font-weight-bolder);
}

.footer .nav__item-list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: calc(.5 * var(--spacing-base));
}

.footer .nav__item {
    font-size: .875rem;
}